In [27]:
import os

file_name_list = []

path = "C:/data/english"

# read filenames into a list

for file in os.listdir(path):
    file_name_list.append(file)
    
file_name_list

['13410-18562-27388.jpg',
 '14194-1300-22289.jpg',
 '15036-16794-93.jpg',
 '1514-15349-24883.jpg',
 '154-11726-30958.jpg',
 '15492-8766-28661.jpg',
 '16648-18234-18511.jpg',
 '17924-28625-20447.jpg',
 '19297-28389-29136.jpg',
 '20539-19788-8490.jpg',
 '2313-16836-25100.jpg',
 '24121-12991-9919.jpg',
 '26849-8042-28515.jpg',
 '27143-13450-29245.jpg',
 '29855-21716-28491.jpg',
 '32146-19690-30406.jpg',
 '32630-31458-19676.jpg',
 '7147-7017-15970.jpg',
 '7823-27863-23113.jpg',
 '7950-22129-16767.jpg',
 'DSC_0176.JPG',
 'DSC_0176_m.jpg',
 'DSC_0176_s.jpg',
 'DSC_0177.JPG',
 'DSC_0177_m.jpg',
 'DSC_0177_s.jpg',
 'DSC_0178.JPG',
 'DSC_0178_m.jpg',
 'DSC_0178_s.jpg',
 'DSC_0191.JPG',
 'DSC_0191_m.jpg',
 'DSC_0191_s.jpg',
 'DSC_0192.JPG',
 'DSC_0192_m.jpg',
 'DSC_0192_s.jpg',
 'expense_categories.csv']

In [28]:
import pandas as pd

# turn list into dataframe, add a column name
df = pd.DataFrame(file_name_list, columns=['filename'])

In [29]:
df

                  filename
0    13410-18562-27388.jpg
1     14194-1300-22289.jpg
2       15036-16794-93.jpg
3     1514-15349-24883.jpg
4      154-11726-30958.jpg
5     15492-8766-28661.jpg
6    16648-18234-18511.jpg
7    17924-28625-20447.jpg
8    19297-28389-29136.jpg
9     20539-19788-8490.jpg
10    2313-16836-25100.jpg
11    24121-12991-9919.jpg
12    26849-8042-28515.jpg
13   27143-13450-29245.jpg
14   29855-21716-28491.jpg
15   32146-19690-30406.jpg
16   32630-31458-19676.jpg
17     7147-7017-15970.jpg
18    7823-27863-23113.jpg
19    7950-22129-16767.jpg
20            DSC_0176.JPG
21          DSC_0176_m.jpg
22          DSC_0176_s.jpg
23            DSC_0177.JPG
24          DSC_0177_m.jpg
25          DSC_0177_s.jpg
26            DSC_0178.JPG
27          DSC_0178_m.jpg
28          DSC_0178_s.jpg
29            DSC_0191.JPG
30          DSC_0191_m.jpg
31          DSC_0191_s.jpg
32            DSC_0192.JPG
33          DSC_0192_m.jpg
34          DSC_0192_s.jpg
35  expense_categories.csv

In [30]:
# add a column with name category
# get the numner of filenames in file_name_list
n = len(file_name_list)
# create n number of 'class1' label
category = ['class1']*n
# add category as a new column in df
df['category'] = category

In [31]:
df

                  filename category
0    13410-18562-27388.jpg   class1
1     14194-1300-22289.jpg   class1
2       15036-16794-93.jpg   class1
3     1514-15349-24883.jpg   class1
4      154-11726-30958.jpg   class1
5     15492-8766-28661.jpg   class1
6    16648-18234-18511.jpg   class1
7    17924-28625-20447.jpg   class1
8    19297-28389-29136.jpg   class1
9     20539-19788-8490.jpg   class1
10    2313-16836-25100.jpg   class1
11    24121-12991-9919.jpg   class1
12    26849-8042-28515.jpg   class1
13   27143-13450-29245.jpg   class1
14   29855-21716-28491.jpg   class1
15   32146-19690-30406.jpg   class1
16   32630-31458-19676.jpg   class1
17     7147-7017-15970.jpg   class1
18    7823-27863-23113.jpg   class1
19    7950-22129-16767.jpg   class1
20            DSC_0176.JPG   class1
21          DSC_0176_m.jpg   class1
22          DSC_0176_s.jpg   class1
23            DSC_0177.JPG   class1
24          DSC_0177_m.jpg   class1
25          DSC_0177_s.jpg   class1
26            DSC_0178.JPG   class1
27          DSC_0178_m.jpg   class1
28          DSC_0178_s.jpg   class1
29            DSC_0191.JPG   class1
30          DSC_0191_m.jpg   class1
31          DSC_0191_s.jpg   class1
32            DSC_0192.JPG   class1
33          DSC_0192_m.jpg   class1
34          DSC_0192_s.jpg   class1
35  expense_categories.csv   class1